* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 183, 255, 0.774);
    font-family: 'Farro', sans-serif;
}

.header {
    background-color: rgba(0, 183, 255, 0.774);
    height: 70px;
}

.logo {
    float: left;
    padding: 10px;
}

.logo img {
    width: 80px;
    height: 50px;
}

.menu {
    float: right;
    margin: 24px;
}

/* Esto es para que los estilos de a respeten los estilos de menu */
.menu a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.banner {
    background-image: url(../img/100years.jpg);
    background-size: cover;
    height: 500px;
}

.banner h1 {
    text-align: right;
    color: white;
    font-size: 60px;
    text-shadow: 4px 4px black ;
    padding: 120px 60px;
}

.descripcion {
    background-color: #FF3B85;
    color: black;
    padding: 10px 100px 70px 100px;
    text-align: justify;
}

.descripcion h2 {
    text-align: center;
    font-size: 50px;
    padding: 0 0 10px 0;
}

.descripcion p {
    font-size: 25px;
}

.historia {
    background-color: rgba(2, 109, 28, 0.781);
    color: white;
    padding: 10px 100px 70px 100px;
    text-align: center;
}

.historia h2 {
    font-size: 40px;
    padding: 10px 0px;
}

.historia p {
    text-align: justify;
    font-size: 25px;
}

.boton img {
    height: 100px;
    background-color: white;
    border: black solid;
    border-radius: 20px;
    border-width: 2px;
}

.boton:hover {
    opacity: 0.7;
}

.venta {
    text-align: center;
    padding: 10px 100px 0px 100px;
}

.venta h2 {
    font-size: 40px;
    padding: 10px 0px;
}

.venta p {
    text-align: justify;
    font-size: 25px;
}

.tiendas {
    padding: 20px 380px;
}

.tdTiendas {
    padding: 10px;
}

footer {
    background-color: rgba(0, 190, 0, 0.781);
    color: white;
    text-align: center;
    padding: 20px 100px;
    font-size: 14px;
}